<div>
  <form class="login-form">
    <label>Employee email: </label>
    <input type="text" id="email-login" />

    <label>Employee Password: </label>
    <input type="text" id="password-login" />

    <label>Token: </label>
    <input type="text" id="token-login" />

    <button type="submit">Enter</button>
  </form>
  <a href="/signup">signup instead</a>
</div>

<script src="/js/login.js"></script>