<div class="login-form-container">
  <form class="login-form">
    <label>Employee Email: </label>
    <input type="text" id="email-login" />

    <label>Employee Password: </label>
    <input type="text" id="password-login" />

    <label>Token: </label>
    <input type="text" id="token-login" />

    <button class="enter-button" type="submit">Enter</button>

    <div class="signup-button-container">
      <a class="signup-link" href="/signup">~ Sign Up Instead ~</a>
    </div>

  </form>

</div>

<script src="/js/login.js"></script>