<form>
  <label>Client number: </label>
  <input type="text" value="{{client.client_number}}" id="client_number"/>

  <label>Account Number:</label>
  <input type="text" id="account_number"/>

  <label>Account Type: </label>
  <input type="text" id="account_type"/>

  <label>Ownership Type: </label>
  <input type="text" id="ownership_type"/>

  <label>Account Balance: </label>
  <input type="text" id="account_balance"/>

  <button type="submit" id="new-account">Submit</button>
</form>

<script src="/js/add-account.js"></script>

