<form>
  <label>Client number: </label>
  <input type="text" id="client_number"/>

  <label>First Name: </label>
  <input type="text" id="first_name"/>

  <label>Last Name: </label>
  <input type="text" id="last_name"/>

  <label>Tax ID: </label>
  <input type="text" id="tax_id"/>

  <label>Phone Number: </label>
  <input type="text" id="phone"/>

  <label>Email Address: </label>
  <input type="text" id="email"/>

  <label>Physical Address: </label>
  <input type="text" id="address"/>

  <button type="submit" id="new-client">Submit</button>
</form>

<script src="/js/addClient.js"></script>
