<div>
  <form class="signup-form">
    <label>Employee Email: </label>
    <input type="text" id="email-signup" />

    <p>
      <label>Employee Password: </label>
      <input type="text" id="password-signup" /></p>

    <button id="submit-signup">Sign Up</button>
  </form>
</div>

<div id="qr-code-container" style="display:none;">
  <img id="qr-code" alt="QR Code" />
  <p id="qr-code-message"></p>
</div>

<script src="/js/signup.js"></script>