<div>
    <form class='signup-form'>
        <label>Employee email: </label>
        <input type="text" id="email-signup">

        <label>Employee Password: </label>
        <input type="text" id="password-signup">

        <button id="submit-signup">Enter</button>
    </form>
    
</div>

<script src="/js/signup.js"></script>