<div>
    <form class='search-form'>
        <label>Search by client number</label>
        <input id="client-number" type="text">

        <p>OR</p>

        <label>Search by account number</label>
        <input id="account-number" type="text">

        <button type="submit">Search</button>
    </form>
</div>
<script src="/js/clientProfile.js"></script>