<div>
    <form class='search-form'>
        <label>Search by Client Number</label>
        <input id="client-number" type="text">

        <p>OR</p>

        <label>Search by Account Number</label>
        <input id="account-number" type="text">

        <button class="search-button" type="submit">Search</button>
    </form>
</div>
<script src="/js/clientProfile.js"></script>