<div>
  <form class="search-form">
    <label>Search by Client Number</label>
    <input id="client-number" type="text" />
    <button
      class="search-button"
      id="client-search"
      type="submit"
    >Search</button>
  </form>
</div>

<div id="new-client-container">
  <a class="new-client" href="/addClient">Create New Client</a>
</div>

<script src="/js/clientProfile.js"></script>