<div>
    <form>
        <label>Search by client number</label>
        <input type="text" id="">

        <label>Search by account number</label>
        <input type="text" id="">

        <button type="submit">Search</button>
    </form>
</div>